[%
    USE Whostmgr;
    USE NVData;
    USE JSON;
    WRAPPER 'master_templates/master.tmpl'
        header = locale.maketext('Acronis Backup Manager')
        breadcrumburl = '/cgi/plugins/acronis.pl'
        theme = 'bootstrap'
        scripts = [
            Whostmgr.find_file_url('/3rdparty/jquery/1.11.3/jquery-1.11.3.min.js'),
        ]
        extra_style = 'news_panel{}'
-%]

Acronis Backup plugin allows end users to recover own websites and databases in case if this server is backed up with Acronis Backup.
 <section class="container">
 <div class="form-group">
<div id="validate" style="display:none;">
          <ul class="validation-container">
                    <li class="validation validation-error">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="validation-message">
                           Details missing!
                        </span>
                    </li>
        </div>

      <h1>Setup Access for Acronis Backup</h1>
      <div class="form-group">
      Please specify credentials to your Acronis Backup account.<br></br>
        [% IF options.host %]
           <p><label for="HostName">Management Console URL*</label> <input type="text" id="HostName" class="form-control" name="HostName" value="[% options.host %]"></p>
        [% ELSE %]
           <p><label for="HostName">Management Console URL*</label> <input type="text" id="HostName" class="form-control" name="HostName"></p>
        [% END %]

[% IF options.user %]
           <p><label for="UserName">Login*</label> <input type="text" id="UserName" class="form-control" name="UserName" value="[% options.user %]"></p>
        [% ELSE %]
          <p><label for="UserName">Login*</label> <input type="text" id="UserName" class="form-control" name="UserName"></p>

        [% END %]



[% IF ! options.pass %]
        <p><label id="passcolor" for="password">Password*</label> <input id="UserPass" type="password" class="form-control" name="UserPass" ></p>
[% END -%]
<br></br>
                <p class="button"><button type="button" class="btn btn-primary" onclick="myFunction(event, $(this), 'step1')">Next</button></p>
      </div>

          <br></br>
    </div>
         <div class="form-group" id="Backup" style="display:none;">
        <h1>Configure Backup</h1>

        <label for="BackUpPlan">Backup Plan </label> <select id="BackUpPlan" name="BackUpPlan" class="form-control">
  <option value="Hourly">Hourly</option>
  <option value="Daily">Daily</option>
  </select>
  <br></br>
<p><label for="ServerEncrypt">Encyption: </label>  <input id="ServerEncrypt" type="text" class="form-control" name="ServerEncrypt"><br>
        <p><button type="button" class="btn btn-primary" onclick="myFunction(event, $(this), 'step2')">Save</button></p>

        </div>


        </section>

                <script>
                function myFunction(e, button, step) {
                var flag=1;

                $('#HostName').css({"border-color":'black'});
                $('#UserName').css({"border-color":'black'});
$('#UserPass').css({"border-color":'black'});

                $('#validate').hide();

                if ($('#HostName').val() == null || $('#HostName').val() == "") {
                                        $('#HostName').css({"border-color":'red'});
                                        $('#validate').show();
                                        $( "#Backup" ).hide();
                                        flag=-1;
                                }

                if ($('#UserName').val() == null || $('#UserName').val() == "") {
                                        $('#UserName').css({"border-color":'red'});
                                        $('#validate').show();
                                        $( "#Backup" ).hide();
                                        flag=-1;
                }

[% IF ! options.pass %]
                 if ($('#UserPass').val() == null || $('#UserPass').val() == "") {
                                        $('#UserPass').css({"border-color":'red'});
                                        $('#validate').show();
                                        $( "#Backup" ).hide();
                                        flag=-1;
                }
[% END -%]


                if(flag==1){

                                        $.ajax({
                                          type: "POST",
                                          url: "acronis.pl",
                                          data: { UserName: $('#UserName').val().trim(), HostName: $('#HostName').val().trim(), UserPass: $('#UserPass').val().trim(), ServerEncrypt: $('#ServerEncrypt').val().trim(), BackUpPlan: $('#BackUpPlan').val().trim(), "step":step },
                                          dataType: 'json',
                                        }).done(function(data){
											if(data.status!==200){
												alert(data.msg);
												$( "#Backup" ).hide();
												return;
											}
											if(step=="step1"){
												$('#BackUpPlan > option').remove();
												
												for(var i=0;i<data.data.length; i++){
													$('#BackUpPlan').append($('<option value="'+ data.data[i].id +'">'+ data.data[i].name +'</option>'));
												}
												
												$( "#Backup" ).show();
											}

                                        }).fail(function(jqXHR, textStatus, errorThrown) {
                                                alert( textStatus);
                                        });



                }
}
                </script>

[% END -%]


